:root {
  --blue : #12d2db;
  --blue-trs : #00a0a8ad;
  --white : #fcf2fa;
  --purple : #912a7eaa;
  --blue-blc : rgb(0, 82, 102);
  --yellow-blc : #ac7500b2;
  --shadow : 0 5px 10px 5px rgba(0, 0, 0, .3);
  --navColor : linear-gradient(to right, rgba(1, 121, 168, 0.486)5%, rgba(107, 43, 0, 0.658));
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
nav {
  position: absolute;
  background: var(--navColor);
  box-shadow: var(--shadow);
  height: 80px;
  width: 100%;
}
label.logo {
  color: var(--white);
  font-size: 30px;
  line-height: 80px;
  padding: 0 80px;
  letter-spacing: -1px;
  font-weight: 800;
  font-style: italic;
  transition: .2s ease;
  text-shadow: 3px 5px 20px #230622aa;
}
nav ul {
  float: right;
  margin-right: 80px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
}
nav ul li i{
  display: contents;
}
nav ul li a{
  display: contents;
}
nav ul li div #dropdownMenuLink{
  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
nav ul li .dropdown-menu {
  background-color: var(--blue-blc);
}
nav ul li .dropdown-menu a span{
  display: contents;
}
nav ul li .dropdown-menu a {
  display: contents;
}
nav ul li .dropdown-menu a .dropdown-item{
  align-items: center;
  justify-items: center;
  background-color: transparent; 
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
nav ul li .dropdown-menu .dropdown-item:hover{
  background-color: var(--blue-trs);
}
nav ul li button {
  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
nav ul li a {
  color: var(--white);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 13px;
}
nav ul li div #dropdownMenuLink.active, #dropdownMenuLink:hover{
  background: var(--blue-trs);
  transition: .5s;
}
button.active, button:hover {
  background: var(--blue-trs);
  transition: .5s;
}
a.active, a:hover {
  background: var(--blue-trs);
  transition: .5s;
}
.checkbtn {
  line-height: 80px;
  font-size: 30px;
  float: right;
  cursor: pointer;
  margin-right: 40px;
  display: none;
}
.checkbtn i {
  color: var(--white);
  padding: 5px;
  border-radius: 10px;
  transition: .5s ease;
}
.checkbtn i:hover {
  background: var(--blue-trs);
}
#check {
  display: none;
}
section {
  height: 100vh;
  background: url(images/pexels-david-besh-884788.jpg) no-repeat;
  background-position: top;
  background-size: cover;
}

/* responsove code */
@media (max-width: 952px) {
  /* table mode */
  label.logo {
    font-size: 25px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 14px;
  }
}

@media (max-width: 858px) {
  /* mobile mode */
  .checkbtn {
    display: block;
  }
   ul {
    position: fixed;
    width: 30%;
    height: 100vh;
    background: var(--navColor);
    top: 80px;
    left: -100%;
    padding-top: 80px;
    text-align: center;
    transition: .5s ease;
  }
  nav ul li {
    display: block;
    margin: 30px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a.active, a:hover {
    background: none;
    color: var(--blue);
    text-shadow: 0 10px 15px var(--blue);
  }
  #check:checked ~ ul {
    left: 0;
  }
}


